.game-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 48px;
  font-weight: bold;
}

.subtitle {
  color: gray;
  margin-bottom: 40px;
  font-size: 22px;
}

.move-btns {
  display: flex;
  gap: 20px;
}

.move-btn {
  width: 120px;
  height: 120px;

  border: 3px solid white;
  border-radius: 60px;

  background-color: transparent;
  transition: 0.2s
}

.move-btn:hover {
  transform: scale(1.1);

  background-color: rgb(40, 40, 40);
  border-color: rgb(28, 124, 115);
}

.move-btn:active {
  transform: scale(0.95);
}

.move-btn img {
  width: 100%;
}

.moves {
  display: flex;
  justify-content: center;
  align-items: center;
}

.result {
  font-size: 18px;
}

.win {
  color: limegreen;
}

.lose {
  color: red;
}

.tie {
  color: gold;
}

.score {
  font-size: 20px;
  margin-top: 30px;
}

.reset-btn {
  padding: 12px 25px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
}

.reset-btn:hover {
  opacity: 0.8;
}