body {
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: Arial;
}

button {
  cursor: pointer;
}

.page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
}